.wrapper{

    background: linear-gradient(-67deg,
        var(--g1c1),
        var(--g1c2)
        );
    min-height: 100vh;
    color: white;
    padding-top: 40px;

}

.wrapper__content {

    width: 70%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 20px;

}

a {

    text-decoration: none;

}