.bookingForm__wrapper {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 0;
    color: black;
    text-align: start;

}

.bookingForm {

    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

}

.bookingForm__input {

    display: grid;
    height: 100px;
    grid-template-rows: 1fr 1fr;

}

.select {

    width: 200px;

}